.city-container {
  min-height: 595px;
  display: flex;
  flex-direction: row;
  background: #f5f5f5;

}

.city-image {
  width: 400px;
  padding-top: 150px;
}

.city-header {
  font-weight: bold;
  font-size: 20px;
  font-family: $mainFont;
  padding: 150px 0 20px 0;
}

.city-content {
  padding: 50px 100px 50px 0;
  font-family: $mainFont;
  color: #86878b;
}

.city-button {
  width: 121px;
  height: 46px;
  color: #fff;
  background-color: $mainColor;
  font-family: $mainFont;
  border-radius: 5px;
}
