.customer-opinion-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.customer-opinion-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 55px;

  h1 {
    font-size: 36px;
    font-family: $mainFont;
    line-height: 43px;
  }

  .customer-text-top {
    font-size: 14px;
    line-height: 20px;
    color: #86878b;
  }
}

.customer-option-bottom {
  display: flex;
  justify-content: space-around;
}

.customer-content {
  width: 80%;
  background: #f5f5f5;
  margin-bottom: 8px;

  p {
    color: #86878b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    font-size: 14px;
    font-style: italic;
  }
}

.customer-photo-wrapper {
  display: flex;
  padding-top: 8px;
}

.customer-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.customer-description {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 3%;

  h1 {
    font-family: OpenSans, $mainFont;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
  }
  p {
    font-family: OpenSans, $mainFont;
    font-size: 14px;
    color: #86878b;
    padding-top: 2px;
    padding-bottom: 110px;
  }
}

