.design-section {
  background-image: url("./assets/images/weed-background.jpg");
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desing-header {
  font-size: 36px;
  display: flex;
  color: #fff;
  font-family: $mainFont;
  .underline {
    margin-top: 20px;
    background-color: #fff;
  }
}

.desing-content {
  color: #fff;
  font-family: $mainFont;
  padding: 20px 0 20px 0;
}

.design-button {
  background: none;
  border: 2px solid #fff;
  padding: 10px 20px 10px 20px;
  color: #fff;
  font-family: $mainFont;
  margin-bottom: 70px;
}

.footer {
  height: 100px;
  background-color: #000;
}
