header {
  background-color: #000000;
  padding-top: 23px;
  padding-bottom: 23px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  .right-side-navbar {
    display: flex;
    width: 50%;
  }
  .left-side-navbar {
    width: 20%;
  }
}

.navbar-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  li {
    a {
      color: #fff;
      display: flex;
      text-decoration: none;
      font-family: $mainFont;
      font-size: 14px;
      &:hover {
        color: $mainColor;
        cursor: pointer;
        transition: 0.4s;
      }
    }
  }
}

.axit {
  width: 79px;
  height: 27px;
  display: flex;
  align-items: center;
  font-size: 27px;
  .ax {
    color: #ffffff;
    font-weight: bold;
  }
  .it {
    color: $mainColor;
  }
}
