.weed-section {
  background: url("./assets/images/weed-background.jpg");
  padding: 120px 600px 120px 150px;
  filter: brightness(70%);
}

.weed-text-section {
  min-height: 300px;

  .axit{
    padding-bottom: 80px;
  }
  .ax, .it{
    font-size: 60px;
  }
  h1 {
    font-size: 30px;
    color: #ffffff;
    font-family: sans-serif;
  }
}

.underline {
  background-color: #D3D3D3;
  height: 4px;
  width: 65px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.weed-modern {
  text-transform: uppercase;
}

.weed-lorem-ipsum {
  color: #ffffff;
  padding-bottom: 50px;
}

.weed-button {
  width:135px;
  height: 42px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  &:hover {
    border-color: $mainColor;
  }
  }

.weed-button a{
  color: #fff;
  text-decoration: none;
  font-family: $mainFont;
  font-size: 15px;
  &:hover {
    color: $mainColor;
  }
}
