.standard-picture-section {
  display: flex;
  flex-direction: row;
  background: #f5f5f5;
  min-height: 524px;
  padding-top: 75px;
}

.standard-picture-img {
  width: 400px;
  height: 350px;
  -webkit-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 5px 18px 0px rgba(0,0,0,0.75);
}

.standard-content-container {
  h1 {
    font-size: 20px;
    line-height: 43px;
    color: #212121;
    font-weight: bold;
  }
}

.underline {
  background-color: $mainColor;
  margin: 29px 0 29px 0;
  height: 2px;
}

.picture-content, .picture-content-2 {
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
  padding: 0 155px 0 0;
}

.picture-content-2 {
  padding-top: 20px;
}
