.sublist-section {
  background-color: #ffffff;
  min-height: 596px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 25px;
    line-height: 43px;
  }
}

.left-sublist-wrapper {
  padding: 170px 100px 0 0;
}

.right-sublist-wrapper {
  padding-top: 110px;
}

.sublist-underline {
  width: 65px;
  height: 2px;
  background-color: $mainColor;
  margin-bottom: 25px;
}

.sublist-image {
  -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.75);
  height: 250px;
  width: 400px;
}

.upper-sublist-content {
  color: #86878b;
  line-height: 20px;
  padding-bottom: 25px;
}

.sublist-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sublist-content1, .sublist-content2 {
  display: flex;
  flex-direction: row;
}

.sublist-icon {
  padding-right: 30px;
  .fas {
    color: #ff8b38;
    font-size: 16px;
    border: 2px #ff8b38 solid;
    border-radius: 50%;
    padding: 8px 6px 8px 6px;
  }
}

.sublist-content-inside {
  font-family: $mainFont;
  font-size: 14px;
  color: #86878b;
  line-height: 20px;
  padding-bottom: 30px;
  h2 {
    font-size: 14px;
    font-family: $mainFont;
    color: #212121;
    line-height: 17px;
    font-weight: bold;
    padding-bottom: 8px;
  }
}
