.awesome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 108px;
  min-height: 592px;
}

.awesome-header {
  display: flex;
  flex-direction: column;
  h1 {
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #212121;
    font-family: Raleway-Regular, $mainFont;
  }
  .underline {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .awesome-header-text {
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
}

.awesome-bottom {
  display: flex;
  .toughtfull-design-wrapper, .well-crafted-wrapper, .easy-to-customize-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: space-between;
  }
}


.idea-icon, .keyboard-icon, .bolt-icon {
  display: flex;
  justify-content: center;

}

.fa-lightbulb, .fa-bolt {
  font-size: 20px;
  color: $mainColor;
  border: 2px solid $mainColor;
  border-radius: 50%;
  padding: 3% 4%;
}

.fa-keyboard {
  font-size: 20px;
  color: $mainColor;
  border: 2px solid $mainColor;
  border-radius: 50%;
  padding: 3% 3%;
}

.toughtfull-content, .well-crafted-content, .easy-to-customize-content {
  h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-family: $mainFont;
    font-weight: bold;
    color: #333333;
  }
  p {
    font-family: $mainFont;
    font-size: 14px;
    color: #86878b;
    display: flex;
    justify-content: center;
    line-height: 1.43;
    text-align: center;
    padding: 0 1% 100px 1%;
  }
}
