@import "./reset";

* {
  box-sizing: border-box;
}

body {
  //background-color: #000000;
}

body,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

header, section, footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 120px 0 120px;
}
@import "./variables";
@import "./sections/header";
@import "./sections/section-main-weed";
@import "./sections/city";
@import "./sections/sub-list";
@import "./sections/standard-picture";
@import "./sections/why-awesome";
@import "./sections/customer-list";
@import "./sections/design-section";
